<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <configSections>
    <section name="oauth_configuration" type="ZCRMSDK.CRM.Library.Common.ConfigFileHandler.ConfigFileSection, ZCRMSDK"></section>
    <section name="zcrm_configuration" type="ZCRMSDK.CRM.Library.Common.ConfigFileHandler.ConfigFileSection, ZCRMSDK"></section>
  </configSections>
  <oauth_configuration>
    <settings>
      <add key = "client_id" value = "3afcc17cb8da9501be6973b4dafee334dafae28401" />
      <add key = "client_secret" value = "1000.1L5GRW66P0GM4JR8O0P9Z7HRCPUUUX" />
      <add key = "redirect_uri" value = "www.google.com" />
      <add key = "access_type" value = "offline"/>
      <add key = "persistence_handler_class" value = ""/>
      <add key = "oauth_tokens_file_path" value = ""/>
      <add key = "mysql_username" value = "root"/>
      <add key = "mysql_password" value = ""/>
      <add key = "mysql_database" value = "zohooauth"/>
      <add key = "mysql_server" value = "localhost"/>
      <add key = "mysql_port" value = "3306"/>
      <add key = "iamURL" value = ""/>
    </settings>
  </oauth_configuration>
  <zcrm_configuration>
    <settings>
      <add key = "apiBaseUrl" value = ""/>
      <add key = "photoUrl" value = ""/>
      <add key = "apiVersion" value = "v2"/>
      <add key = "loginAuthClass" value = ""/>
      <add key = "logFilePath" value = ""/>
      <add key = "timeout" value = ""/>
      <add key = "minLogLevel" value = ""/>
      <add key = "domainSuffix" value = ""/>
      <add key = "currentUserEmail" value = "" />
    </settings>
  </zcrm_configuration>
</configuration>